{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "68",
          "ie": "11"
        }
      }
    ],
    ["@babel/react"],
    ["@babel/preset-typescript"]
  ],
  "plugins": ["transform-object-rest-spread"]
}